.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: wheat;
    color: black;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
  }
  
  .reset-btn:hover {
    background-color: red;
  }